<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Menù Lateral con Css</title>
    <link rel="stylesheet" href="../../src/css/navbar.css">
    <link rel="stylesheet" href="../../src/css/favoritos.css">
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="btn-menu">
                <label for="btn-menu">☰</label>
            </div>
            <div class="logo">
                <h1>Pokemania</h1>
            </div>
            <nav class="menu">
                <a href="./inicio.html">Inicio</a>
                <a href="./PokemontList.html">Pokemon List</a>
                <a href="./profile.html">Profile</a>
                <a href="./PokemonFavorite.html">Pokemon Favorites</a>
                <a href="../../index.html">salir</a>
            </nav>
        </div>
    </header>
    <div class="capa"></div>
    <!--	--------------->
    <input type="checkbox" id="btn-menu">
    <div class="container-menu">

        <div class="cont-menu">
            <nav>
                <a href="./inicio.html">Inicio</a>
                <a href="./PokemontList.html">Pokemon List</a>
                <a href="./profile.html">Profile</a>
                <a href="./PokemonFavorite.html">Pokemon Favorites</a>
            </nav>
            <label for="btn-menu">✖️</label>
        </div>
    </div>


    <div id="content-cards">

    </div>

    <script src="../../src/js/favoritos.js"></script>

</body>

</html>