<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Menù Lateral con Css</title>
    <link rel="stylesheet" href="../../src/css/navbar.css">
    <link rel="stylesheet" href="../../src/css/profile.css">
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="btn-menu">
                <label for="btn-menu">☰</label>
            </div>
            <div class="logo">
                <h1>Pokemania</h1>
            </div>
            <nav class="menu">
                <a href="./inicio.html">Inicio</a>
                <a href="./PokemontList.html">Pokemon List</a>
                <a href="./profile.html">Profile</a>
                <a href="./PokemonFavorite.html">Pokemon Favorites</a>
                <a href="../../index.html">salir</a>
            </nav>
        </div>
    </header>
    <div class="capa"></div>
    <!--	--------------->
    <input type="checkbox" id="btn-menu">
    <div class="container-menu">

        <div class="cont-menu">
            <nav>
                <a href="./inicio.html">Inicio</a>
                <a href="./PokemontList.html">Pokemon List</a>
                <a href="./profile.html">Profile</a>
                <a href="./PokemonFavorite.html">Pokemon Favorites</a>
            </nav>
            <label for="btn-menu">✖️</label>
        </div>
    </div>


    <main>

        <div class="cabecera-titulo">
            <h1>Profile</h1>
        </div>
        <form action="" class="login" id="login">
            <!-- Grupo: Usuario -->
            <div class="login__grupo" id="grupo__usuario">
                <label for="usuario" class="login__label">Usuario</label>
                <div class="login__grupo-input">
                    <input type="text" class="login__input" name="usuario" id="usuario" placeholder="john123">
                    <i class="login__validacion-estado fas fa-times-circle"></i>
                </div>
                <p class="login__input-error">El usuario tiene que ser de 4 a 16 dígitos y solo puede contener numeros,
                    letras y guion bajo.</p>
            </div>

            <br>

            <!-- Grupo: Contraseña -->
            <div class="login__grupo" id="grupo__password">
                <label for="password" class="login__label">Contraseña</label>
                <div class="login__grupo-input">
                    <input type="password" class="login__input" name="password" id="password">
                    <i class="login__validacion-estado fas fa-times-circle"></i>
                </div>
                <p class="login__input-error">La contraseña tiene que ser de 4 a 20 dígitos.</p>
            </div>


            <div class="login__mensaje" id="login__mensaje">
                <p><i class="fas fa-exclamation-triangle"></i> <b>Error:</b> Por favor ingrese los datos correctamente.
                </p>
            </div>
            <br>
            <div class="login__grupo login__grupo-btn-enviar">
                <button type="submit" class="login__btn" id="btn">Ingresar</button>

                <p class="login__mensaje-exito" id="login__mensaje-exito">Enviado exitosamente!</p>
            </div>
        </form>
    </main>


</body>

</html>